.systemsetting {
  .modal-bodys {
    #row {
      margin: 0px;
      padding-bottom: 2rem;
      border-bottom: 1px solid #343a400f;
    }
    .Theme {
      .curTheme {
        padding-top: 1rem;
        padding-left: 1rem;
      }
    }
    #ThemeColor {
      padding: 0;
      .col-xs-6 {
        width: 50%;
      }
      .blockColor {
        margin: 1rem 0;
        padding: 1px;
        border-radius: 5px;
        .backColor {
          border-radius: 5px;
          cursor: pointer;
          background: var(--gray-dark);
          height: 6rem;
          display: flex;
          justify-content: center;
          transition: all 0.6s;
          align-items: center;
          .circle {
            position: absolute;
            z-index: 1;
            zoom: 3;
            display: none;
            color: white;
          }
          .default {
            margin: 0px;
            font-size: 15px;
            color: white;
            filter: opacity(1);
            text-align: center;
          }
        }
        .backColor:hover {
          border: 48px solid #adadad38 !important;
          p {
            filter: opacity(1) !important;
            color: white;
          }
        }
      }
    }
  }

  .rowContainer {
    margin-left: 0;
    .imgCard {
      padding: 1rem;
      .img {
        border: 1px solid #7c98fd;
        border-radius: 5px;
        padding: 5px;
      }
      .button {
        .edit {
          float: none;
          margin: 1rem auto;
          margin-bottom: 0;
          display: block;
          transition: all 0.5s;
          width: 150px;
          border: none;
          font-weight: bold;
          border-radius: 5px;
          font-size: 14px;
          position: relative;
          overflow: hidden;
          outline: none;
          color: white;
          height: 35px;
          .editIcon {
            margin-right: 10px;
          }
        }
      }
    }
    .tableCard {
      padding: 0;
      padding-top: 5px;
      .table-responsive {
        padding: 0;
        td {
          padding: 7px 1rem;
          border: none;
          span {
            display: flex;
            margin-bottom: 3px;
            align-items: center;
            .themeBlock {
              width: 15px;
              height: 15px;
              border: 0.5px solid black;
            }
            label {
              margin-bottom: 0px;
              margin-left: 5px;
            }
          }
        }
      }
    }
    .editCard {
      .editSm {
        width: 40px;
        font-size: 11px;
        position: absolute;
        outline: none;
        right: 25px;
        font-weight: bold;
        height: 20px;
        border: none;
        border-radius: 3px;
      }
    }
  }
}
@media (max-width: 425px) {
  #schoolLogo {
    padding: 5px 15px;
  }
  #upload {
    width: 70%;
  }
  .metaBtn {
    font-size: 9pt;
  }
}
@media (min-width: 425.1px) {
  #schoolLogo {
    padding: 5px;
  }
  #upload {
    width: 73%;
  }
  .metaBtn {
    font-size: 14px;
  }
}
