.header {
  width: 100%;
  height: 61px;
  .body_content {
    height: 90.1vh;
    margin: 0px;
    overflow-y: auto;
    .additional-menu {
      color: #ffffffa8;
    }
    .additional-menu .navList:hover {
      background: #1a1a1aa8;
      .routerLink {
        color: white;
      }
    }
    .navList {
      width: 100%;
      text-decoration: none;
      position: relative;
      display: flex;
      overflow: hidden;
      transition: all 0.4s;
      align-items: center;
      border-bottom: 1px solid rgba(245, 245, 245, 0.24);
      height: 50px;
      #sidebarIcon {
        margin: 0 1.5rem;
      }
      .dropIcon {
        transition: all 0.5s;
        position: absolute;
        right: 1rem;
        top: 1rem;
      }
    }
    #body_content > .nav-item:active,
    #body_content > .nav-item:focus,
    .nav-item:hover {
      background-color: #666;
    }
    .link {
      padding: 0;
      display: none;
      color: #ffffffa8;
      margin: 0;
      .nav-list {
        text-decoration: none;
        font-size: 14px;
        transition: all 0.4s;
        display: flex;
        align-items: center;
        width: 100%;
        height: 40px;
        outline: none;
        position: relative;
        overflow: hidden;
        border: none;
        .nav-list:hover {
          color: white;
          background: #1a1a1aa8;
        }
        .listItem {
          float: left;
          margin: 0 10px 0 3rem;
        }
      }
    }
  }
}
