* {
  outline: none;
}
strong {
  font-weight: 600;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
a,
a:visited,
a:focus,
a:active,
a:link {
  text-decoration: none;
  outline: 0;
}
a {
  color: currentColor;
  transition: 0.2s ease-in-out;
}
h1,
h2,
h3,
h4 {
  margin: 0;
}
ul {
  padding: 0;
  list-style: none;
}

img {
  vertical-align: middle;
  height: auto;
  width: 100%;
}
.line {
  width: 30px;
  height: 3px;
  background-color: white;
  margin: 2.5px;
}

// Thein Htike Aung Section
.navbar {
  position: fixed;
  width: 100%;
  height: 52px;
  z-index: 1;
  text-align: center;
  h3 {
    color: white;
    margin-right: 24%;
  }
  .btnsidebar {
    margin-top: 10px;
    width: 35px;
    .line {
      background-color: white;
      margin-top: 5px;
      width: 30px;
      height: 2px;
    }
  }
}
.sidebarM {
  position: fixed;
  height: 100%;
  z-index: 2;
  width: 300px;
  background-color: white;
  margin-left: -300px;
  transition: all 0.5s;
  overflow: auto;
  .top-section {
    position: fixed;
    background: white;
    width: 300px;
    box-shadow: -9px 0px 9px black;
    .academic {
      padding: 10px 10px 10px 43px;
    }
    .profile {
      margin: 10px 20px;
      border: solid #1b5e20 1px;
      padding: 10px;
      background: #f5f3f3;
      .image {
        width: 84px;
      }
      .aboutAdmin {
        margin-top: 22px;
      }
    }
  }
  .nav-content {
    margin-top: 205px;
    .item {
      padding: 15px;
      margin: 10px 30px;
      border-radius: 10px;
      font-weight: 600;
      #Icons {
        margin-right: 10px;
      }
      .item-body {
        border-top: solid #1b5e20 1px;
        padding: 0px 20px;
        margin-top: 13px;
        display: none;
        .item-content {
          padding: 2px 0px;
          font-size: 14px;
          .double-right {
            margin-right: 10px;
          }
        }
      }
    }
  }
}
.shadow {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.24);
  display: none;
}
