.sidebar {
  padding: 0;
  margin: 0;
  .expandsidebar {
    float: left;
    z-index: 2;
    height: 100%;
    position: fixed;
    box-shadow: 0px 7px 15px #888888;
    width: 255px;
  }

  .sidebar_header {
    color: white;
    height: 100%;
    display: flex;
    margin: 0px;
    border-bottom: 1px solid whitesmoke;
    text-align: center;
    align-items: center;
  }

  .treeview-custom {
    height: 200px;
  }
}
