.smallView {
  position: absolute;
  z-index: 100;
  display: none;
  transition: all 0.5s;
  box-shadow: 0px 7px 15px #888888;
  .exit .bigView {
    margin: 0;
    cursor: pointer;
    position: fixed;
    padding: 8.5px 33px;
    font-size: 30px;
    font-weight: 500;
    border-bottom: 1px solid;
    color: #f5f5f5d1;
  }
  .exit .bigView:hover {
    color: white;
  }
  .smallBar {
    display: block;
    cursor: pointer;

    .Links .link:hover .smallLists {
      display: block;
    }
    .Links {
      list-style: none;
      margin-top: 3.9rem;
      margin-bottom: 0;
      .link:hover {
        background: #0d0e0da6;
        .smallIcon {
          color: white !important;
        }
      }
      .link {
        width: 84px;
        display: flex;
        height: 60px;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid grey;
        .smallLists {
          position: absolute;
          margin-left: 110%;
          width: 250px;
          display: none;
          margin-top: -41px;
          display: none;
          .smallLink {
            list-style-type: none;
            color: #fdfdfdc9;
            text-decoration: none;
            .smLink {
              margin-left: -2.5rem;
              padding: 10px 1rem;
              font-size: 15px;
              .smIcon {
                margin-right: 1rem;
              }
            }
            .smLink:hover {
              color: white !important;
            }
          }
        }
        li .smallIcon {
          zoom: 1;
          color: #f5f5f5d1;
        }
      }
    }
  }
}
