.ViewStaffDirectory {
  .input_readonly {
    border: none !important;
    background-color: transparent !important;
    text-align: right;
    color: var(--info);
    font-weight: 600;
  }
  #row {
    margin-top: -1rem;
    margin: 0 -1rem;
    padding: 0;
    /**#efc347 **/
    // .sta-disable {
    // background-color: #efc347;
    // }
    .tableCard {
      .Profile {
        padding: 1rem;
        img {
          width: 100px;
          height: 100px;
          border-radius: 50%;
          margin: 0 auto;
          display: block;
          border: 3px solid #1b5e2033;
          padding: 3px;
        }
        .disableIcon {
          position: absolute;
          right: 50%;
          left: 54%;
          top: 28%;
          width: 24px;
          padding: 3px;
          background: white;
          border: 1px solid #d1dfd2;
          color: red !important;
          border-radius: 50%;
          text-align: -webkit-center;
        }
        .name {
          text-align: center !important;
          font-weight: bold;
          margin-top: 5px;
        }
      }
      .table-responsive {
        padding: 0;
        .table tr {
          td {
            padding: 0.4rem 15px;
            .data {
              color: #0e3511;
              display: flex;
              float: right;
              margin-bottom: 0;
              cursor: default;
              position: relative;
              overflow: hidden;
              width: fit-content;
              background-position: center;
              transition: background 0.6s;
            }
            .data:after {
              content: "";
              background: #111111e0;
              display: block;
              position: absolute;
              padding-top: 300%;
              padding-left: 350%;
              margin-left: -20px !important;
              margin-top: -120%;
              opacity: 0;
              transition: all 0.8s;
            }
            .data:active:after {
              padding: 0;
              margin: 0;
              opacity: 1;
              transition: 0s;
            }
          }
        }
      }
    }
    .detailsCard {
      padding: 0;
      .buttonCard {
        white-space: nowrap;
        .tab,
        .tab1,
        .tab2,
        .tab3 {
          height: 35px;
          padding: 0 1rem;
          background: none;
          font-size: 10pt;
          position: relative;
          overflow: hidden;
          border: none;
          color: white;
          margin-top: 2px;
        }
        .tab {
          background: white;
          color: black;
        }
      }
    }
    .detailsCardBody {
      background: #ffffff;
      margin: 1rem;
      box-shadow: 0px 7px 15px #888888;
      .table-responsive {
        padding: 0;
        .table {
          margin-bottom: 0;
          tr {
            .all {
              padding: 0.4rem 15px;
              .data {
                font-weight: bold;
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }
    .addresscardBody {
      .table-responsive {
        padding: 0;
        .table {
          margin-bottom: 0;
          tr {
            .all {
              padding: 0.4rem 15px;
              .data {
                font-weight: bold;
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }
    .attendanceBody,
    .documentbody {
      .attendance,
      .document {
        padding: 15px;
        .row {
          .col-lg-4,
          .col-md-4 {
            padding: 0 5px 10px 5px;
            .attendanceCard {
              height: 70px;
              border: 1px solid rgba(128, 128, 128, 0.226);
              border-radius: 3px;
              background: whitesmoke;
              .day {
                font-size: 12pt;
                font-weight: bold;
                padding: 10px;
              }
              .number {
                margin: 0 1rem;
              }
              ion-icon {
                position: absolute;
                top: 20%;
                right: 20%;
              }
            }
          }
        }
        .row {
          .year {
            display: flex;
            align-items: center;
            label {
              margin: 0 5px;
            }
          }
          .text {
            display: flex;
            justify-content: center;
            label {
              font-size: 10pt;
              margin-right: 10px;
            }
          }
        }
      }
    }
    .documentbody {
      .noLists {
        font-size: 12pt;
        padding: 10px 0;
        color: red;
        text-align: center;
      }
    }
    .TimeLine {
      padding-top: 1rem;
      .add {
        margin-top: -5px;
        height: 25px;
        width: 60px;
        background: #3e4e5b;
        color: rgba(255, 255, 255, 0.61);
      }
      .add:active,
      .add:hover {
        background: #3e4e5b;
        color: white;
      }
      .timelineSpan {
        padding: 3px;
        display: inline-block;
        border-radius: 5px;
        font-size: 13px;
        margin-left: 10px;
      }
      .timeline {
        position: relative;
        margin-right: 1rem;
        padding: 8px;
        color: white;
      }
      .timeline::after {
        content: "";
        position: absolute;
        width: 4px;
        background-color: black;
        top: 0;
        bottom: 0;
        margin-left: 36px;
      }
      .container {
        padding: 10px 0px 10px 40px;
        position: relative;
        background-color: none;
        width: 90%;
      }
      // .right::before {
      //   content: " ";
      //   height: 0;
      //   position: absolute;
      //   top: 22px;
      //   width: 0;
      //   z-index: 1;
      //   left: 30px;
      //   border: medium solid white;
      //   border-width: 10px 10px 10px 0;
      //   border-color: transparent var(--info) transparent transparent;
      // }
      .right::after {
        left: -16px;
      }
      .right {
        background-color: white;
        margin-left: 42px;
      }
      .timelineContent {
        position: relative;
        border-radius: 6px;
        .timeIcon {
          position: absolute;
          background: whitesmoke;
          z-index: 1;
          padding: 10px;
          zoom: 1.2;
          border-radius: 50%;
          margin-left: -3.4rem;
          color: black;
        }

        .timelineTitle {
          width: 100%;
          padding: 10px;
          border-top-right-radius: 3px;
          border-top-left-radius: 3px;
        }
        p {
          margin-top: -8px;
          padding: 10px;
          color: black;
          border-bottom-right-radius: 3px;
          border-bottom-left-radius: 3px;
        }
      }
      .timelineBottom {
        .timeIcon {
          background: whitesmoke;
          z-index: 1;
          padding: 10px;
          zoom: 1.2;
          border-radius: 50%;
          color: black;
          margin: 0 0 1rem 20px;
        }
      }
    }
  }

  /*** Table header by wai yan soe**/
  .table_header,
  .table_right {
    position: -webkit-sticky; /* for Safari */
    position: sticky;

    text-align: center;
    background-color: white;
  }
  .table_header {
    top: 0;
  }
  .table_header::after {
    border-bottom: 1px solid grey !important;
  }
  .table_right {
    left: 0;
  }
}
