.ViewStaffDirectory {
  #row {
    margin-top: -1rem;
    .tableCard {
      .Profile {
        padding: 1rem;
        img {
          width: 100px;
          height: 100px;
          border-radius: 50%;
          margin: 0 auto;
          display: block;
          border: 3px solid #1b5e2033;
          padding: 3px;
        }
        .name {
          text-align: center;
          font-weight: bold;
          margin-top: 5px;
        }
      }
      .table-responsive {
        padding: 0;
        .table tr {
          td {
            padding: 0.4rem 15px;
            .data {
              color: #0e3511;
              display: flex;
              float: right;
              margin-bottom: 0;
              cursor: default;
              position: relative;
              overflow: hidden;
              width: fit-content;
              background-position: center;
              transition: background 0.6s;
            }
            .data:after {
              content: "";
              background: #111111e0;
              display: block;
              position: absolute;
              padding-top: 300%;
              padding-left: 350%;
              margin-left: -20px !important;
              margin-top: -120%;
              opacity: 0;
              transition: all 0.8s;
            }
            .data:active:after {
              padding: 0;
              margin: 0;
              opacity: 1;
              transition: 0s;
            }
          }
        }
      }
    }
    .detailsCard {
      padding: 0;
      .buttonCard {
        height: 104%;
        .tab,
        .tab1,
        .tab2,
        .tab3 {
          height: 100%;
          background: none;
          padding: 0 1rem;
          font-size: 10pt;
          border: none;
          color: white;
          margin-top: 0.7px;
        }
        .tab {
          background: white;
          color: black;
        }
      }
    }
    .detailsCardBody {
      background: #ffffff;
      margin: 1rem;
      box-shadow: 0px 7px 15px #888888;
      .table-responsive {
        padding: 0;
        .table {
          margin-bottom: 0;
          tr {
            .all {
              padding: 0.4rem 15px;
              .data {
                font-weight: bold;
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }
    .addresscardBody {
      .table-responsive {
        padding: 0;
        .table {
          margin-bottom: 0;
          tr {
            .all {
              padding: 0.4rem 15px;
              .data {
                font-weight: bold;
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }
    .attendanceBody {
      .attendance {
        padding: 15px;
        .row {
          .col-lg-4,
          .col-md-4 {
            padding: 0 5px 10px 5px;
            .attendanceCard {
              height: 70px;
              border: 1px solid rgba(128, 128, 128, 0.226);
              border-radius: 3px;
              background: whitesmoke;
              .day {
                font-size: 12pt;
                font-weight: bold;
                padding: 10px;
              }
              .number {
                margin: 0 1rem;
              }
            }
          }
        }
        .row {
          .year {
            display: flex;
            align-items: center;
            label {
              margin: 0 5px;
            }
          }
          .text {
            display: flex;
            justify-content: center;
            label {
              font-size: 10pt;
              margin-right: 10px;
            }
          }
        }
      }
    }
    .documentbody {
      .noLists {
        font-size: 12pt;
        padding: 10px 0;
        color: red;
        text-align: center;
      }
    }
    .timelinebody {
      padding-top: 1rem;
      .add {
        margin-top: -5px;
        height: 25px;
        width: 60px;
        background: #1b5e1fee;
        color: rgba(255, 255, 255, 0.61);
      }
      .add:active,
      .add:hover {
        background: #1b5e20;
        color: white;
      }
      .TimeLine {
        span {
          color: white;
          background-color: var(--success);
          padding: 3px;
          display: inline-block;
          border-radius: 5px;
          font-size: 13px;
          margin-left: 10px;
        }
        .timeline {
          position: relative;
          margin: 0 auto;
          color: white;
          padding-right: 20px;
        }

        /* The actual timeline (the vertical ruler) */
        .timeline::after {
          content: "";
          position: absolute;
          width: 6px;
          background-color: #1b5e20;
          top: 0;
          bottom: 0;
          // left: 50%;
          margin-left: 36px;
        }

        /* Container around content */
        .container {
          padding: 10px 0px 10px 40px;
          position: relative;
          background-color: none;
          width: 90%;
        }

        /* The circles on the timeline */
        .container::after {
          content: "";
          position: absolute;
          width: 25px;
          height: 25px;
          right: -17px;
          background-color: white;
          border: 1px solid black;
          top: 15px;
          border-radius: 50%;
          z-index: 1;
        }

        /* Add arrows to the right container (pointing left) */
        .right::before {
          content: " ";
          height: 0;
          position: absolute;
          top: 22px;
          width: 0;
          z-index: 1;
          left: 30px;
          border: medium solid white;
          border-width: 10px 10px 10px 0;
          border-color: transparent #1b5e20 transparent transparent;
        }

        /* Fix the circle for containers on the right side */
        .right::after {
          left: -16px;
        }
        .right {
          background-color: white;
          margin-left: 42px;
          padding-right: 1rem;
        }

        /* The actual content */
        .content {
          // padding: 0px 30px;
          // background-color: gray;
          position: relative;
          border-radius: 6px;
          background-color: #ddd;

          h6 {
            width: 100%;
            color: white;
            background-color: #1b5e20;
            padding: 10px;
            border-top-right-radius: 3px;
            border-top-left-radius: 3px;
            // margin: 0;
          }
          p {
            margin-top: -8px;
            padding: 10px;
            color: black;
            border-bottom-right-radius: 3px;
            border-bottom-left-radius: 3px;
          }
        }
      }
    }
  }
}
